.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 8px;

}
h1{
    margin-left: 20px;
    /* font-size: 24px; */
   /* text-decoration: underline double; */
}

.navbar ul{
    display: flex;
    flex-direction: row;
    margin-left: 12%;
    color: white;
   
}
.navbar li{
    display: flex;
    margin-left: 25px;
    font-size: 24px;
    margin-top: 12px;
}
li:hover{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
input{
    border-radius: 7px;
    height: 30px;
    width: 200px;
    margin-left: 100px;
    margin-top: 25px;
    padding: 10px;
   
    
}

img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 20px;
    width: 20%;
    height: 500px;
    margin-left: 60px;
    align-items: start;
    
    

}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    
}
.cross{
    height: 30px;
    margin-left: 18px;
    /* margin-bottom: 19px; */
    width: 20px;
    margin-top: 26px;
}
h1{
    margin-left: 20px;
    /* font-size: 24px; */
   /* text-decoration: underline double; */
}

.container ul{
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    color: white;
   
}
.container li{
    display: flex;
    margin-left: 25px;
    font-size: 24px;
    margin-top: 30px;
   
}
li:hover{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

